* {
    padding: 0;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;

}

/* Landing (Index) page styles */
.landing {
    background-color: #24716E;
    text-align: center;
    height: 100%;
    padding-top: 100px;
}
.landing h1 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.landing p {
    color: white;
    margin-bottom: 30px;
}
.landing a {
    display: block;
    background-color: #67A4A2;
    height: 50px;
    width: 220px;
    margin: 0 auto;
    padding: 0 30px;

    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    border: 1px solid #3E8784;
    border-radius: 10px;
        
}
.landing a:hover {
    text-decoration: none;
    background-color: #3E8784;
}
.landing a:active {
    background-color: #67A4A2;
}