* {
    padding: 0;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
}


/*
---------------
Mobile Styles
---------------
*/

/* Global Styles*/
.body-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
section ul {
  list-style: none;
}

/* Navigation styles */
.navigation {
    height: 160px;
}
.navigation .logo {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
}
.navigation .logo svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.navigation .controls {
    list-style: none;
    width: 40px;
    border-right: 1px solid black;
    float: left;
}
.navigation .controls li {
    width: 40px;
    height: 40px;
    border-bottom: 1px solid black;
}
.navigation .hamburger{
    height: 20px;
    width: 20px;
    border-right: 1px solid white;
    float: left;
}
.navigation .search {
    height: 20px;
    width: 20px;
    float: left;
}
.navigation .hamburger, .navigation .search {
    width: 40px;
    height: 40px;
    float: left;
    background-color: white;
    border: none;
}
.navigation .hamburger:active, .navigation .search:active {
    background-color: gray;
}
.navigation .hamburger svg, .navigation .search svg{
    height: 30px;
    width: 30px;
    padding: 5px;

}
.navigation nav {
    width: calc(100% - 41px);
    float: right
}
.navigation nav a {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    height: 81px;
}
.navigation nav a:active {
background-color: gray;
}
.navigation nav a svg{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    padding: 8px;
}

/*What to Read Next Styles*/
.what-to-read-next {
padding-top: 50px;
}
.what-to-read-next .header{
  height: 40px;
  padding: 5px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.what-to-read-next .header p{
  font-size: 25px;
  line-height: 40px;
  width: calc(100% - 80px);
  float: left;
}
.what-to-read-next .header .controls{
  width: 80px;
  float: right;
  height: 40px;
}
.what-to-read-next .controls button {
  height: 40px;
  width: 40px;
  border: none;
  background: none;
}
.what-to-read-next .controls button:hover {
  cursor: pointer;
}
.what-to-read-next .controls .btn-left {
  float: left;
  border-right: 1px solid black;
}
.what-to-read-next .controls .btn-right {
  float: right;
}
.what-to-read-next .article-tiles {
  
}
.what-to-read-next .article-tiles li {
  
}

/*
---------------
Mobile Styles
---------------
*/

@media (min-width: 768px) {
  /* Global Styles*/
  .content-wrapper {
    margin-top: 50px;
    width: calc(100% - 262px);
    float: right;
    padding: 0 45px 0 25px;
  }

  /* Navigation Styles */
  .navigation {
    float: left;
    width: 150px;
    height: 740px;
    margin: 50px 20px 50px 20px;
    border: 1px solid black;
  }
  .navigation .logo {
    width: 150px;
    height: 150px;
    border-bottom: 1px solid black;
  }
  .navigation .logo svg {
    padding: 15px;
    height: auto;
    width: auto;
  }
  .navigation .controls {
    width: auto;
    border: none;
    float: none;
  }
  .navigation .controls li {
    width: auto;
    height: auto;
    border: none;
  }
  .navigation .hamburger, .navigation .search {
    width: 75px;
    height: 75px;
    float: left;
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
    background-color: white;
  }
  .navigation .hamburger:hover, .navigation .search:hover {
    background-color: gray;
    cursor: pointer;
  }
  .navigation .hamburger {
    border-right: 1px solid black;
  }
  .navigation nav {
    width: auto;
    height: auto;
  }
  .navigation nav a {
    width: 150px;
    height: auto;
    float: none;
    border: none;
  }
  .navigation nav a span {
    display: block;
    padding-bottom: 25px;
  }
  .navigation nav a:hover {
    background-color: gray;
  }
  .navigation nav a svg {
    margin: 0 auto 0 auto;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  /*What to Read Next Styles*/

}