{% load staticfiles %}

<title>{{ article.article_text }}</title>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'articles/styles/style.css' %}" />

<div class="body-wrapper">
    {% include "components/navigation.html" %}
    <div class="content-wrapper article">
        <h1>{{ article.article_text }}</h1>
        <p class="article-data">
            <span>{{ article.article_publication_date|date:"l, F tS, o" }}</span>
            <a href="#">{{ article.article_author }}</a>
        </p>
        <div class="image-wrapper">
            <img class="primary-image" src="../../media/{{ article.article_hero_image }}"><br>
        </div>
        <p class="article-text">{{ article.article_body_text }}</p>
        <div class="image-wrapper alt-image">
            <img class="secondary-image" src="../../media/{{ article.article_optional_image }}"><br>
        </div>
    </div>
</div>