{% load staticfiles %}

<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'articles/styles/style.css' %}" />

<div class="body-wrapper">
    {% include "components/navigation.html" %}
    <div class="content-wrapper articles">
        <section class="articles-primary">
            {% if article_random %}
                <h1>{{ article_random.article_text }}</h1>
                <p class="article-data">
                    <span>{{ article_random.article_publication_date|date:"l, F tS, o" }}</span>
                    <a href="">{{ article_random.article_author }}</a>
                </p>
                <img src="../../media/{{ article_random.article_hero_image }}"><br>
                <p>{{ article_random.article_body_text}}</p>
            {% else %}
                <p>Failed to load random article.</p>
            {% endif %}
        </section>
        <section class="articles-latest">
        {% if article_list %}
            <ul>
            {% for article in article_list %}
                <li>
                    <a href= "{% url 'article' article.id %}">
                        <h2>{{ article.article_text }}</h2>
                        <p>{{ article.article_body_text}}</p>
                        <p class="read-more-link">Read More..</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No articles at the moment.</p>
        {% endif %}
        </section>
        {% include "components/whattoreadnext.html" %}
    </div>
</div>