{% load staticfiles %}

<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'articles/styles/style.css' %}" />

{% include "components/navigation.html" %}

{% if article_list %}
    <ul>
    {% for article in article_list %}
        <li>
            <a href= "{% url 'article' article.id %}">{{ article.article_text }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles at the moment.</p>
{% endif %}

{% include "components/whattoreadnext.html" %}